:root{
  /* === Color RGB Values === */
  --primary-rgb: 60, 98, 85;
  --primary-dark-rgb: 19, 58, 44;
  --primary-light-rgb: 92, 138, 122;
  --secondary-rgb: 97, 135, 110;
  --secondary-dark-rgb: 60, 90, 74;
  --secondary-light-rgb: 138, 176, 154;
  --tetriary-rgb: 166, 187, 141;
  --tetriary-dark-rgb: 113, 128, 95;
  --tetriary-light-rgb: 211, 236, 179;
  --quaternary-rgb: 234, 231, 177;
  --quaternary-dark-rgb: 197, 193, 111;
  --quaternary-light-rgb: 230, 228, 200;
  --quaternary-lighter-rgb: 243, 242, 226;
  --text-primary-rgb: 33, 37, 41;
  --text-secondary-rgb: 3, 92, 180;

  /* === Colors === */
  --primary: rgb(60, 98, 85);
  --primary-dark: rgb(19, 58, 44);
  --primary-light: rgb(92, 138, 122);
  --secondary: rgb(97, 135, 110);
  --secondary-dark: rgb(60, 90, 74);
  --secondary-light: rgb(138, 176, 154);
  --tetriary: rgb(166, 187, 141);
  --tetriary-dark: rgb(113, 128, 95);
  --tetriary-light: rgb(211, 236, 179);
  --quaternary: rgb(234, 231, 177);
  --quaternary-dark: rgb(197, 193, 111);
  --quaternary-light: rgb(230, 228, 200);
  --quaternary-lighter: rgb(243, 242, 226);
  --text-primary: rgb(33, 37, 41);
  --text-secondary: rgb(3, 92, 180);

  /* === Additional Colors === */
  --accent-rgb: 59, 130, 246;
  --accent: rgb(59, 246, 75);
  --bg-primary-rgb: 255, 255, 255;
  --bg-primary: rgb(255, 255, 255);
  --bg-secondary-rgb: 248, 250, 255;
  --bg-secondary: rgb(248, 250, 255);
  
  /* === Gradients === */
  --bg-gradient: linear-gradient(135deg, rgba(var(--primary-rgb), 0.05) 0%, rgba(var(--primary-rgb), 0.02) 100%);
  
  /* === Font Families === */
  --font-family-primary: var(--font-roboto), sans-serif;
  --font-family-secondary: var(--font-roboto), sans-serif;
  
  /* === Font Sizes === */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;
  --font-size-hero: 3rem;

  /* === Font Weights === */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* === Border Radius === */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;

  /* === Spacing === */
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;

  /* === Shadows === */
  --shadow-default: 0 2px 6px rgba(0, 0, 0, 0.2);
  --shadow-hover: 0 4px 10px rgba(0, 0, 0, 0.3);
  --shadow-default: 4px 4px 20px #05861be5;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    /* color-scheme: dark; */
  }
}

.customDayCell, .rbc-day-bg{
  height: 100%;
  width: 100%;
}
.rbc-day-bg:hover{
  background-color: var(--quaternary-light);
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  /* background-image: linear-gradient(to top, #86377b 20%, #27273c 80%); */
}
.bgTop {
  z-index: 0;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100;
}
.waveAnimation .waveTop {
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation: move_wave 10s linear infinite;
  animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 620px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 700px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}
@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  transition: all 0.3s ease-in-out;
}
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-color: transparent transparent #9b6a2f transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent white transparent;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  border-color: #9b6a2f transparent transparent transparent;
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  border-color: white transparent transparent transparent;
}
::-webkit-scrollbar-thumb {
  border: 0px solid rgba(0, 0, 0, 0.017);
  background-color: rgba(110, 110, 110, 0.139);

  border-radius: 12px 12px 12px 12px;
  margin: 0px auto;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-light);
}
::-webkit-scrollbar-thumb:active {
  background: var(--primary-light);
}
html,
body {
  /* background-color: var(--bs-secondary); */
  background-color: rgb(248, 250, 255);
  color: var(--bs-dark);
  font-family: 'Source Sans Pros', sans-serif;
  /*-ms-overflow-style: none; for Internet Explorer, Edge */
  /*scrollbar-width: none;  for Firefox */
  /* background-color: red; */
}
body::-webkit-scrollbar {
  /* display: none;  for Chrome, Safari, and Opera */
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: var(--dark);
  }
} */
