.tabsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.imageUploadContainer {
  position: relative;
  .imageContainer {
    img {
      max-height: 500px;
    }
  }
}
